/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN CONTENT CSS*/
article.content-text {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 45px;
}
	article.content-text p {
		font-size: 16px;
	}
	article.content-text p,
	article.content-text ul,
	article.content-text ol
	{
		margin-bottom: 24px;
	}
	article.content-text ul,
	article.content-text ol
	{
		width: 98%;
		float: left;
		margin: 0 0 18px 2%;
	}
		article.content-text ul li {
			list-style: inside disc;
		}
		article.content-text ol li {
			list-style: inside decimal;
		}
	article.content-text h2 {
		font-size: 32px;
		font-weight: bold;
		margin: 0 0 32px 0;
	}
	article.content-text h3 {
		font-size: 26px;
		font-weight: normal;
		margin: 0 0 26px 0;
	}
	article.content-text h4 {
		font-size: 16px;
		margin: 0 0 24px 0;
	}
	article.content-text h5 {
		font-size: 14px;
		margin: 0 0 18px 0;
	}
	article.content-text h6 {
		font-size: 12px;
		margin: 0 0 15px 0;
	}
	article.content-text a {
		
	}
	article.content-text img {
		max-width: 100%;
		margin-bottom: 18px;
	}
	article.content-text img[align=left],
	article.content-text img.alignleft 
	{
		margin-right: 18px;
	}
	article.content-text img[align=right],
	article.content-text img.alignright
	{
		margin-left: 18px;
	}
/*-------------------------------------------*/
.columns-2 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	-webkit-column-gap: 60px; /* Chrome, Safari, Opera */
    -moz-column-gap: 60px; /* Firefox */
    column-gap: 60px;
}
.columns-3 {
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
	-webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}
.columns-4 {
	-webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
	-webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
/*-------------------------------------------*/
/*END CONTENT CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FOOTER CSS*/

/*END FOOTER CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FORM CSS*/
.fields1 {
	color: #4a494e;
	font-size: 16px;
}
	.fields1 h3 {
		color: #007a4e;
		font-size: 24px;
		font-weight: lighter;
		font-style: italic;
		margin: 0;
	}
		.fields1 div.row > div {
			margin-bottom: 23px;
		}
		.fields1 div.row input[type=text],
		.fields1 div.row input[type=password],
		.fields1 div.row input[type=number],
		.fields1 div.row input[type=email],
		.fields1 div.row input[type=tel],
		.fields1 div.row input[type=month],
		.fields1 div.row input[type=date],
		.fields1 div.row input[type=datetime],
		.fields1 div.row input[type=url],
		.fields1 div.row select
		{
			width: 98%;
			height: 29px;
			border: 1px solid #555555;
			background-color: #ECECE4;
		}
		.fields1 div.row textarea	{
			width: 98%;
			border: 1px solid #555555;
			background-color: #ECECE4;
		}
		.fields1 div.row textarea.sm {
			height: 88px;
		}
		.fields1 div.row textarea.md {
			height: 148px;
		}
		.fields1 div.row textarea.lg {
			height: 198px;
		}
/*-------------------------------------------*/
.grid1 {
	color: #4a494e;
	font-size: 14px;
}
	.grid1 h3 {
		color: #007a4e;
		font-size: 24px;
		font-weight: lighter;
		font-style: italic;
		margin: 0;
	}
	.grid1 div.header  {
		
	}
		.grid1 div.header > div {
			min-height: 55px;
			padding-top: 5px;
			background-color: #d9d8ca;
		}
		.grid1 div.row > div {
			margin-bottom: 18px;
		}
/*-------------------------------------------*/
form.wpcf7-form input.wpcf7-text {
	/*width: 100%;
	height: 33px;*/
	font-size: 14px;
	/*border: 1px solid #b0b0b0;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
form.wpcf7-form textarea.wpcf7-textarea {
	/*width: 100%;
	height: 150px;*/
	/*border: 1px solid #b0b0b0;*/
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
form.wpcf7-form input.wpcf7-submit,
form.wpcf7-form button.btn
{
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 10px 0 0;
	padding: 6px 25px;
	background-color: #EAA81A;
	border: 1px solid #b0b0b0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}
form.wpcf7-form input.wpcf7-submit:hover,
form.wpcf7-form button.btn:hover
{
	color: #FFF;
	text-decoration: none;
	background-color: #D79713;
}
/*END FORM CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN GENERIC CSS*/
.float {
	width: 100%;
	float: left;
}
img.img-max-width {
	max-width: 100%;
}
/*-------------------------------------------*/
.padding-top-bottom-lg {
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-top-bottom-md {
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding-top-bottom-sm {
	padding-top: 20px;
	padding-bottom: 20px;
}
.padding-top-bottom-xs {
	padding-top: 10px;
	padding-bottom: 10px;
}
/*-------------------------------------------*/
.margin-top-bottom-lg {
	margin-top: 50px;
	margin-bottom: 50px;
}
.margin-top-bottom-md {
	margin-top: 30px;
	margin-bottom: 30px;
}
.margin-top-bottom-sm {
	margin-top: 20px;
	margin-bottom: 20px;
}
.margin-top-bottom-xs {
	margin-top: 10px;
	margin-bottom: 10px;
}
/*-------------------------------------------*/
.margin-top-lg {
	margin-top: 50px;
}
.margin-top-md {
	margin-top: 30px;
}
.margin-top-sm {
	margin-top: 20px;
}
.margin-top-xs {
	margin-top: 10px;
}
/*-------------------------------------------*/
.margin-bottom-lg {
	margin-bottom: 50px;
}
.margin-bottom-md {
	margin-bottom: 30px;
}
.margin-bottom-sm {
	margin-bottom: 20px;
}
.margin-bottom-xs {
	margin-bottom: 10px;
}
/*-------------------------------------------*/
div.line-1px {
	width: 100%;
	height: 1px;
	background-color: #CCC;
}
div.line-2px {
	width: 100%;
	height: 1px;
	background-color: #CCC;
}
div.line-3px {
	width: 100%;
	height: 1px;
	background-color: #CCC;
}
div.line-4px {
	width: 100%;
	height: 4px;
	background-color: #CCC;
}
/*-------------------------------------------*/
.line {
	border-bottom: 4px solid #f9b31b;
	width: 100px;
	margin: auto;
	margin-bottom: 38px;
	margin-top: 28px;
}
/*-------------------------------------------*/
.remove-child-left-right-padding  .left,
.remove-child-left-right-padding  > :first-child
{
	padding-left: 0;
}
.remove-child-left-right-padding  .right,
.remove-child-left-right-padding  > :last-child
{
	padding-right: 0;
}
/*-------------------------------------------*/
.remove-top-padding {
	padding-top: 0 !important;
}
.remove-top-margin {
	margin-top: 0 !important;
}
/*-------------------------------------------*/
.remove-bottom-padding {
	padding-bottom: 0 !important;
}
.remove-bottom-margin {
	margin-bottom: 0 !important;
}
/*-------------------------------------------*/
.remove-side-padding {
	padding-left: 0;
	padding-right: 0;
}
.remove-side-margin {
	margin-left: 0;
	margin-right: 0;
}
/*-------------------------------------------*/
.remove-left-margin {
	padding-right: 0;
}
.remove-right-margin {
	padding-right: 0;
}
/*-------------------------------------------*/
.remove-left-padding {
	padding-right: 0;
}
.remove-right-padding {
	padding-right: 0;
}
/*-------------------------------------------*/
.btn-yellow {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 10px 0 0;
	padding: 15px 45px;
	border: 1px solid #FFF;
	background-color: #f9b31b;
}
.btn-yellow:hover {
	color: #000;
	text-decoration: none;
	background: #F2A606;
}
/*-------------------------------------------*/
.btn-round {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/*-------------------------------------------*/
.border {
	border: 1px solid #000;
}
/*-------------------------------------------*/

/*END GENERIC CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN OVERWRITE BOOTSTRAP CSS*/

/*END BOOTSTRAP CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/* Smartphone and Tablet view */
@media (min-width: 768px) { /* 768px small */

}

@media (min-width: 992px) { /* 992px medium */
	
}

@media (min-width: 1200px) { /* 1200px large */

}
/*-------------------------------------------*/
@media (max-width: 1199px) { /* 1200px large */

}

@media (max-width: 991px) { /* 992px medium */

}

@media (max-width: 767px) { /* 768px small */
	.column-2  .left,
	.column-2  .right {
		padding-left: 0;
		padding-right: 0;
	}
	.columns-2,
	.columns-3,
	.columns-4
	{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
/*-------------------------------------------*/
	.fields1 {
		font-size: 14px;
	}
	.grid1 {
		font-size: 13px;
	}
/*-------------------------------------------*/
/*-------------------------------------------*/

}

@media (max-width: 599px) { /* 600px */
	.fields1 div.row > div {
		margin-bottom: 13px;
	}
/*-------------------------------------------*/
/*-------------------------------------------*/
}

@media (max-width: 479px) { /* 480px */
	
}

@media (max-width: 319px) { /* 320px */
	
}