/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN GLOBAL CSS*/

/*END GLOBAL CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN HEADER CSS*/

/*END HEADER CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN CONTENT CSS*/

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/*END CONTENT CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FOOTER CSS*/

/*END FOOTER CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FORM CSS*/

/*END FORM CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN GENERIC CSS*/

/*END GENERIC CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN OVERWRITE BOOTSTRAP CSS*/

/*END BOOTSTRAP CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/* Smartphone and Tablet view */
@media (min-width: 768px) { /* 768px small */

}

@media (min-width: 992px) { /* 992px medium */
	
}

@media (min-width: 1200px) { /* 1200px large */
	
}
/*-------------------------------------------*/
@media (max-width: 1199px) { /* 1200px large */	
	
}

@media (max-width: 991px) { /* 992px medium */
	
}

@media (max-width: 767px) { /* 768px small */
	
}

@media (max-width: 599px) { /* 600px */
	
}

@media (max-width: 479px) { /* 480px */
	
}
@media (max-width: 319px) { /* 320px */
	
}