/*
	Theme URI: http://iwp.ph/
	Author: Mark of iWP
	Version: 1.0
	License: GNU General Public License v1
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FONT CSS*/
* {
	
}
@font-face {
	/*font-family: "ArialMT";
	src: url("font/Arial_MT.eot");
	src: local("ArialMT"), url( "font/Arial_MT.ttf" ) format("truetype");*/
}
/*END FONT CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN GLOBAL CSS*/ 
/*END GLOBAL CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN HEADER CSS*/
header.container-fluid {
    margin-top: 52px;
    padding-top: 15px;
}
/*END HEADER CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN CONTENT CSS*/

/*END CONTENT CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FOOTER CSS*/
footer {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #D1D1D1;
	background-color: #E6E6E6;
}

/*END FOOTER CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN FORM CSS*/

/*END FORM CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN GENERIC CSS*/

/*END GENERIC CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*BEGIN OVERWRITE BOOTSTRAP CSS*/
div.modal-xl {
	width: 90%;
}
div.modal-sm div.modal-body div.table-responsive {
	min-height: 200px;
	max-height: 300px;
}
div.modal-md div.modal-body div.table-responsive {
	min-height: 250px;
	max-height: 350px;
}
div.modal-lg div.modal-body div.table-responsive {
	min-height: 300px;
	max-height: 400px;
}
div.modal-xl div.modal-body div.table-responsive {
	min-height: 350px;
	max-height: 450px;
}


.banner-container{
	margin-top:-15px;
	padding:0;
} 

.carousel-inner > .item > img {
    margin: 0 auto;
	width: 100%;
	margin: 0;
	padding: 0;
}
.carousel-control.left{
	z-index: 999;
}
.carousel-control.right{
	z-index: 999;
}
.red{
	color: #FF0000;
}
	label .red{
		font-weight: bold;
	}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading.gif') 50% 50% no-repeat transparent; 
}
/*END BOOTSTRAP CSS*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/* Smartphone and Tablet view */
@media (min-width: 768px) { /* 768px small */

}

@media (min-width: 992px) { /* 992px medium */

}

@media (min-width: 1200px) { /* 1200px large */

}
/*-------------------------------------------*/
@media (max-width: 1199px) { /* 1200px large */

}

@media (max-width: 991px) { /* 992px medium */
	
}

@media (max-width: 767px) { /* 768px small */
	.hidden-on-small{
		display: none;
	}
}

@media (max-width: 599px) { /* 600px */

}

@media (max-width: 479px) { /* 480px */

}
@media (max-width: 319px) { /* 320px */

}
/*-------------------------------------------*/